*{
    box-sizing:content-box;
    margin:0;
    padding:0;
}
body{
    height:auto;
}

section{
    height:100vh;
}
section:first-child{
    background-image: url(images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: 100% 110%;
}
li{
    display:inline-block;
    padding:20px;
font-size:20px;
}
li, p{
    font-family: 'Barlow', sans-serif;
}
a{
    text-decoration: none;
}
li .contact, h2{
    color:hsl(198, 62%, 26%);
}
li .contact{

font-weight: 900;
background-color: hsl(0, 0%, 100%);
    border-radius:40px;
    padding:15px 30px 15px 30px;
}
nav{
    justify-content: flex-end;
    width: 50%;
    padding:30px;
    float:right;
}
nav , .egg, .teksts, .cherry, .mand, .testimonials, .block, .bildes, footer{
    display:flex;
}
.logo{
    position:absolute;
    top:40px;
    left:40px;
    width:10%;
}

h1,h2, li .contact, .more, h3, h4, .name{
    font-family: 'Fraunces', serif;
}
h1, a, .contact:hover{
    color:hsl(0, 0%, 100%);
}
h1{
    font-size: 85px;
    letter-spacing:2px;
top:30%;
text-align:center;
}

.arrow{
    content: url(images/icon-arrow-down.svg);
   left:50%;
  padding-top:520px;

 
}

@keyframes scroll{
    0% {padding-top:420px}
50%{padding-top:840px}
100%{padding-top:420px}

}

h1, .arrow{
    position:absolute;
}
.contact:hover{
  background-color:hsl(200, 100%, 82%);
}
nav img{
    display:none;
}

.gallery{
    height:auto;
}
.egg, .bides{
   flex-direction:row;
}
.teksts, .image{
    width:50%;
    height:auto;
}
.image img, .first, h1, section, body, .bildes{
    width:100%;
}
 .cherry, .mand{
    margin-top: -4px;
}
.teksts, .cherry, .mand, .testimonials, .block, footer{
    flex-direction:column;
justify-content: center;
align-items: center;
}
p{
    color:hsl(210, 4%, 67%);
    line-height: 1.5;
    font-size:22px;
}
h2{
    font-size:55px;
   padding-bottom:30px;
}
.teksts > div{
width:60%;
}
.more, .yellow, .pink{
    margin-top:40px;
}
.more{
    color:hsl(212, 27%, 19%);
font-weight:900;
transform:translate(5%, -3.3em);
position:absolute;
}
.yellow, .pink{
    width: 125px;
    height:8px;
    border-radius:20px;
}
.pink{
    background-color:  hsl(7, 99%, 90%);
}
.pink:hover{
    background-color:hsl(7, 99%, 70%);
}
.yellow{
    background-color:hsl(51, 100%, 79%);
}
.yellow:hover{
    background-color:hsl(51, 100%, 49%);
}
.cherry, .mand{
    width:50%;
    height:80vh;
    background-size: cover;
}
.cherry{
    background-image: url(images/desktop/image-graphic-design.jpg);
}
.mand{
    background-image: url(images/desktop/image-photography.jpg);
   
}

h3{
    padding-top:350px;
    font-size:35px;
    color:hsl(167, 40%, 24%);
}
.onImage{
    width:50%;
    text-align:center;
    color:hsl(167, 40%, 34%);
    font-size:22px;
    padding-top:20px;
}
.blue{
    color: hsl(198, 62%, 26%);
}
.testimonials{
    height:80vh;
}
h4{
    color:hsl(210, 4%, 67%);
    font-size: 25px;
    letter-spacing: 2px;
}
.testimonials > div{
display:flex;
flex-direction:row;
}
.block{
    width:400px;
    height:auto;
    
align-items: center;
padding:100px 20px 0 0;
}
.block img{
    width:20%;
    border-radius:50%;
}
.first{
  color: hsl(212, 27%, 39%);
  font-size:20px;
  text-align: center;
  padding-top:50px;
}
.name{
    color:hsl(212, 27%, 19%);
    font-size: 22px;
    padding-top:40px;
}

.block p:last-child{
    font-size:18px;
}
.bildes{
    width:100%;
    height:auto;
}
.bildes img{
  width:25%;
  height:auto;
}
footer{
    width:100%;
    height:400px;
    background-color: hsl(168, 34%, 41%);
}
footer li a{
    color:hsl(167, 40%, 24%);
    font-weight:none;
}
footer li a:hover{
    color:hsl(0, 0%, 100%);
}
 span path:hover{
    fill:hsl(0, 0%, 100%);
}
path{
    fill:hsl(167, 40%, 24%);
}
span{
    margin-top:30px;
}
span a{
    padding:10px;
}
.triangle{
display:none;
}

@media screen and (min-width:300px) and (max-width:810px){
    section{
        width:100%;
            height:90vh;
        }
        section:first-child{
            background-image: url(images/mobile/image-header.jpg);
            background-repeat: no-repeat;
        background-size:100% 100%;
        }
        nav img{
            display:block;
        }
        .show{
            display:block;
        }
        nav li{
            display:block;
        text-align: center;

        }
        nav li a {color:hsl(210, 4%, 67%);
        }

        nav ul{
            display:none;

            position:absolute;
            margin:auto;
            width:75%;
            height:auto;
          top:15%;
            background-color: hsl(0, 0%, 100%);
            padding:20px;
            z-index:1;
        }
        .triangle{
            width: 0;
            height: 0;
            border-left: 45px solid transparent;
            border-right: 0px solid transparent;
            border-bottom: 50px solid hsl(0, 0%, 100%);
        position:absolute;
     top:10%;
        }
        
        
        a{
            text-decoration: none;
        }
        li .contact{
            color:hsl(198, 62%, 26%);
        font-weight: 900;
        background-color:hsl(51, 100%, 49%);
            border-radius:40px;
            padding:15px 30px 15px 30px;
        } 
        nav{
            display:flex;
            justify-content: flex-end;
            width: 50%;
            padding:30px;
            float:right;
        }
        nav , .egg, .teksts, .cherry, .mand{
            display:flex;
        }
        .logo{
            position:absolute;
            top:40px;
            left:40px;
            width:40%;
        }
        
        h1,h2, li .contact{
            font-family: 'Fraunces', serif;
        }
        h1, a, .contact:hover{
            color:hsl(0, 0%, 100%);
        }
        h1{
            width:100%;
            font-size: 38px;
            letter-spacing:2px;
        top:20%;
        text-align:center;
        }
        
        .arrow{
            content: url(images/icon-arrow-down.svg);
           left:5%;
          padding-top:180px;
        }
        
        h1, h1::after{
            position:absolute;
        }
        .contact:hover{
          background-color:hsl(200, 100%, 82%);
        }
        .gallery{
            flex-direction: column;
        }
        .egg{
            flex-direction: column-reverse;
        }
        .divi{
            flex-direction: column;
            margin:20px 0 20px 0;
        }
        nav img{
            display:block;
        }
        
        .gallery{
            height:auto;
        }
     
        .teksts, .image{
            width:100%;
            height:auto;
        }
        .teksts{
           text-align:center;
        }
        .image img{
            width:100%;
        }
         .cherry, .mand{
            margin-top: -4px;
        }
        .teksts, .cherry, .mand{
            flex-direction:column;
        justify-content: center;
        align-items: center;
        }
        p{
            color:hsl(210, 4%, 67%);
            line-height: 1.5;
            font-size:18px;
        }
        h2{
            font-size:38px;
           padding-bottom:30px;
        }
        .teksts > div{
        width:90%;
        padding-top:40px;
        display:flex;
        flex-direction:column;
        align-items: center;
        }
        .more, .yellow, .pink{
            margin-top:40px;

        }
        .more{
            color:hsl(212, 27%, 19%);
        font-weight:900;
        transform:translate(-50%, -3.3em);
        position:absolute;
        }
        .yellow, .pink{
            width: 125px;
            height:8px;
            border-radius:20px;
    
        }
        .pink{
            background-color:  hsl(7, 99%, 90%);
        }
        .pink:hover{
            background-color:hsl(7, 99%, 70%);
        }
        .yellow{
            background-color:hsl(51, 100%, 79%);
        }
        .yellow:hover{
            background-color:hsl(51, 100%, 49%);
        }
        .cherry, .mand{
            width:100%;
            height:auto;
            background-size: cover;
        }
        .cherry{
            background-image: url(images/mobile/image-graphic-design.jpg);
        }
        .mand{
            background-image: url(images/mobile/image-photography.jpg);
           
        }
        
        h3{
            padding-top:350px;
            font-size:35px;
            color:hsl(167, 40%, 24%);
        }
        .onImage{
            width:90%;
            text-align:center;
            color:hsl(167, 40%, 34%);
            font-size:18px;
            padding:20px 0 40px 0;
        }
        .blue{
            color: hsl(198, 62%, 26%);
        }
        .testimonials{
            height:auto;
        }
        h4{
            color:hsl(210, 4%, 67%);
            font-size: 20px;
            letter-spacing: 2px;
            padding-top:30px;
        }
        .testimonials > div{
        display:flex;
        flex-direction:column;
        }
        .block{
            width:80%;
            height:auto;
      margin:auto;
        align-items: center;
        padding:100px 0px 0 0;
        }
        .block img{
            width:20%;
            border-radius:50%;
        }
        .first{
          color: hsl(212, 27%, 39%);
          font-size:18px;
          text-align: center;
          padding-top:50px;
        }
        .name{
            color:hsl(212, 27%, 19%);
            font-size: 22px;
            padding-top:40px;
        }
        
        .block p:last-child{
            font-size:18px;
            padding-bottom:50px;
        }
        .bildes{
            flex-wrap:wrap;
        }
}
